<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>翼灵一家人</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../static/stylesheets/css/main.css">
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/lib/autoHidingNavbar.js"></script>
    <script src="../static/lib/swiper-3.4.2.jquery.min.js"></script>


    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-header" href="#">翼灵一家人</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" id="li1">
                <a class="nav-link" >团队介绍<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="li2">
                <a class="nav-link" >团队生活</a>
            </li>
            <li class="nav-item" id="li3">
                <a class="nav-link" >团队成员</a>
            </li>
            <li class="nav-item" id="li4">
                <a class="nav-link" >团队引力</a>
            </li>
            <li class="nav-item" id="li5">
                <a class="nav-link" >关于我们</a>
            </li>
            <li class="nav-item dropdown nav navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">相关链接</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <span class="dropdown-header">翼灵物联工作室</span>
                    <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                    <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                    <a class="dropdown-item" href="#">创意大赛</a>
                    <a class="dropdown-item" href="#">开源空间</a>
                    <a class="dropdown-item" href="#">招新系统</a>
                    <a class="dropdown-item" href="#">考试系统</a>
                    <a class="dropdown-item " href="#">翼灵一家人</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<!--content-->
<main>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id ="slide1">
                <div class="timezone">
                    <div class="left">
                        <h2>2015-10-5</h2>
                        <p class="content"></p>
                    </div>

                    <div class="right">
                        <h2>2016-5-8</h2>
                        <p class="content"></p>
                    </div>

                    <div class="left">
                        <h2>2016-5-8</h2>
                        <p class="content"></p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" id ="slide2">
                <div class="Img Img-second">

                </div>
            </div>
            <div class="swiper-slide" id ="slide3">
                <div class="Img Img-third">

                </div>
            </div>
            <div class="swiper-slide " id ="slide4">
                <div class="Img Img-fourth">

                </div>
            </div>
            <div class="swiper-slide" id ="slide5">
                <div class="Img Img-fifth">
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet">1</span>
            <span class="swiper-pagination-bullet">2</span>
            <span class="swiper-pagination-bullet">3</span>
            <span class="swiper-pagination-bullet">4</span>
            <span class="swiper-pagination-bullet">5</span>
        </div>
    </div>

</main>
<script src="../static/js/index.js"></script>
</body>
</html>