<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>翼灵一家人</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="../static/img/logo.png"/>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../static/stylesheets/css/main.css">
    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/lib/autoHidingNavbar.js"></script>
    <script src="../static/lib/swiper-3.4.2.jquery.min.js"></script>


    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-header" href="#">翼灵一家人</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" id="li1">
                <a class="nav-link" >团队介绍<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="li2">
                <a class="nav-link" >团队生活</a>
            </li>
            <li class="nav-item" id="li3">
                <a class="nav-link" >团队成员</a>
            </li>
            <li class="nav-item" id="li4">
                <a class="nav-link" >团队引力</a>
            </li>
            <li class="nav-item" id="li5">
                <a class="nav-link" >关于我们</a>
            </li>
            <li class="nav-item dropdown nav navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">相关链接</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <span class="dropdown-header">翼灵物联工作室</span>
                    <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                    <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                    <a class="dropdown-item" href="#">创意大赛</a>
                    <a class="dropdown-item" href="#">开源空间</a>
                    <a class="dropdown-item" href="#">招新系统</a>
                    <a class="dropdown-item" href="#">考试系统</a>
                    <a class="dropdown-item " href="#">翼灵一家人</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<!--content-->
<main>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id ="slide1">
                <div class="timezone">
                    <div class="left">
                        <h2>2013-11</h2>
                        <div class="content">
                            <div class="tImg">
                            <img src="../static/img/time1.jpg"/>
                            </div>
                            <p class="text">在物联网教研室的全体教师的支持下，物联网工程专业12级李国冬同学创建翼灵物联工作室， 物联网工程专业教研室主任周永老师担任指导教师。</p>
                        </div>
                    </div>

                    <div class="right">
                        <h2>2014.08</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time2.jpg"/>
                            </div>
                            <p class="text">翼灵联工作室成员荣获第一项竞赛获奖，在武汉大学荣获TI杯全国物联网设计赛华中及西南赛区二等奖。</p>
                        </div>
                    </div>

                    <div class="left">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time3.jpg"/>
                            </div>
                            <p class="text">翼灵物联工作室成员在武汉华中科技大学荣获TI杯全国物联网设计竞赛华中及西南赛区特等奖。
                                同年九月翼灵物联工作室成员在无锡国际博览中心荣获TI杯全国物联网设计竞赛全国二等奖。</p>
                        </div>
                    </div>

                    <div class="right">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time4.jpg"/>
                            </div>
                            <p class="text">翼灵物联工作室由留美教师梁宗文博士担任指导教师。</p>
                        </div>
                    </div>

                    <div class="left">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time5.jpeg"/>
                            </div>
                            <p class="text">团队规范发展方向，形成嵌入式开发、移动端开发、WEB后端开发三大方向。</p>
                        </div>
                    </div>

                    <div class="right">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time6.jpg"/>
                            </div>
                            <p class="text">翼灵物联工作室成员荣获全国高校物联网应用创新大赛西南赛区一等奖。
                                翼灵物联工作室第一届成员成员物联网工程专业12级同学光荣毕业，保研深造或入职知名IT公司。</p>
                        </div>
                    </div>

                    <div class="left">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time7.jpg"/>
                            </div>
                            <p class="text">灵联工作室成员荣获TI杯全国物联网设计竞赛华中及西南赛区一等奖。</p>
                        </div>
                    </div>

                    <div class="right">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time8.jpg"/>
                            </div>
                            <p class="text">翼灵物联工作室成员在全国大学生计算机设计大赛中，荣获全国一等奖。</p>
                        </div>
                    </div>

                    <div class="left">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time9.jpg"/>
                            </div>
                            <p class="text">团队第二届负责人带领翼灵物联工作室进行全方面深化改革和团队建设，组建团队第四方向WEB前端方向， 上线团队招新网站并进行大规模和高质量的团队招新，推行235工作制度和严格的管理条例。 团队下设纪律组长、外联组长、招新组长、财务组长进行各项日常工作推进，翼灵物联工作室正在蓬勃向上的发展。</p>
                        </div>
                    </div>

                    <div class="right">
                        <h2>2016-5-8</h2>
                        <div class="content">
                            <div class="tImg">
                                <img src="../static/img/time10.png"/>
                            </div>
                            <p class="text">翼灵物联工作室官方网站1.0上线。官方网址：http://www.swpuiot.com/</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="swiper-slide" id ="slide2">
                <div class="Img Img-second">

                </div>
            </div>
            <div class="swiper-slide" id ="slide3">
                <div class="Img Img-third">

                </div>
            </div>
            <div class="swiper-slide " id ="slide4">
                <div class="Img Img-fourth">

                </div>
            </div>
            <div class="swiper-slide" id ="slide5">
                <div class="Img Img-fifth">
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet">1</span>
            <span class="swiper-pagination-bullet">2</span>
            <span class="swiper-pagination-bullet">3</span>
            <span class="swiper-pagination-bullet">4</span>
            <span class="swiper-pagination-bullet">5</span>
        </div>
    </div>

</main>
<script src="../static/js/index.js"></script>
</body>
</html>